[phases.setup]
nixPkgs = ["git-lfs"]

[phases.install]
cmds = [
  "sh -c 'cd $(git rev-parse --show-toplevel) && git lfs pull'",
  "python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install poetry==$NIXPACKS_POETRY_VERSION && poetry install --no-dev --no-interaction --no-ansi"
]
